[Unit]
Description=Waltr Firmware Installre

[Service]
User=waltr
WorkingDirectory=/home/waltr/firmwareUpload
ExecStart=/usr/bin/python3 /home/pi/waltr/firmwareUpload/installer.py
Restart=always
Environment="PYTHONUNBUFFERED=1"


[Install]
WantedBy=multi-user.target

